<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Secrets dashboard</h1>
    <% @secrets.each do |secret| %>
      <p><%= secret.content %></p>
      <p><%= secret.likers.count %> likes</p>
      <% if current_user == secret.user %>
        <form class="" action="/secrets/<%= secret.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <p>
            <input type="submit" name="submit" value="Delete Secret">
          </p>
        </form>
      <% else %>
        <% if secret.likers.include?(current_user) %>
        <form class="" action="/secrets/<%= secret.id %>/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <p>
            <input type="submit" name="submit" value="Unlike">
          </p>
        </form>
        <% else %>
          <form class="" action="/secrets/<%= secret.id %>/likes/create" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <p>
              <input type="submit" name="submit" value="Like">
            </p>
          </form>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
